In [1]:
from multiprocessing import Pool, cpu_count
import gc; gc.enable()
import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn import *
import sklearn

E:\anacoda\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
E:\anacoda\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
E:\anacoda\lib\site-packages\sklearn\lda.py:6: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)
E:\anacoda\lib\site-packages\sklearn\learning_curve.py:23: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
E:\anacoda\lib\site-packages\sklearn\qda.py:6: DeprecationWarning: qda.QDA has been moved to discriminant_analysis.QuadraticDiscriminantAnalysis in 0.17 and will be removed in 0.19.
  "in 0.17 and will be removed in 0.19.", DeprecationWarning)

In [3]:
train = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge/data/train.csv")

In [4]:
test = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge/data/sample_submission_zero.csv")

In [5]:
transactions = pd.read_csv(
    "G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\data/transactions.csv",
    usecols = ['msno']
)

In [6]:
transactions = pd.DataFrame(transactions['msno'].value_counts().reset_index()) # 统计每个用户交易行为次数

In [7]:
transactions.columns = ['msno','trans_count']

In [8]:
transactions.head(10)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>msno</th>
      <th>trans_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>xm6fmAfgZx1OYUXaJuHOObD0H2EAtIktv9NYIVlaTf4=</td>
      <td>71</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Gm6nq94d1kn48YpqQzvWshpfQ2F218e+ISrtxjaA/EI=</td>
      <td>64</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ur5l+RJ9n6L7h96PqgBIOfgFxSM95YzhdrA8xS1NvRQ=</td>
      <td>64</td>
    </tr>
    <tr>
      <th>3</th>
      <td>mxpRHNaHkFo7IfnKAqUaA8xrgpaDnnZDsjJvw8gH+FQ=</td>
      <td>63</td>
    </tr>
    <tr>
      <th>4</th>
      <td>dnjJq1LhXBehL0VyhlHzYKKqVwMj7M9j7E7rRXY0HqE=</td>
      <td>63</td>
    </tr>
    <tr>
      <th>5</th>
      <td>lZo4HG6fI31GEY/uijC4/JSCMhGSUT32iRYptqs7XtY=</td>
      <td>62</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Mjp5uPtRQPFUiMfw+rWecb2EGoo69dc6t1gSBRgz60c=</td>
      <td>61</td>
    </tr>
    <tr>
      <th>7</th>
      <td>tWuakM8NS9fiWC5aD7zc36zw2U1BW54OXTWGEbdrnMI=</td>
      <td>59</td>
    </tr>
    <tr>
      <th>8</th>
      <td>791c32ArWs05ZCpF+brfdTcgsMsOIKIxMCUe1Qh4OKE=</td>
      <td>58</td>
    </tr>
    <tr>
      <th>9</th>
      <td>a9qvbz8KifymI7eTNDA/j/BDGpbx2RBGlFn9T35nN2c=</td>
      <td>55</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
train = pd.merge(train, transactions, how='left', on='msno')

In [10]:
test = pd.merge(test, transactions, how='left', on='msno')

In [11]:
transactions = []; print('transaction merge...')

transaction merge...

In [12]:
user_logs_all = pd.DataFrame()
for i in range(1,80):
    user_logs = pd.read_csv(
        "G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\data/user_log_split_"+str(i)+".csv"
    )
    user_logs = pd.DataFrame(user_logs['msno'].value_counts().reset_index())
    user_logs.columns = ['msno','logs_count']
    # user_logs_all = pd.merge(user_logs_all, user_logs, how='left', on='msno')
    train = pd.merge(train, user_logs, how='left', on='msno')
    test = pd.merge(test, user_logs, how='left', on='msno')
    user_logs = []; print('user logs merge...')

user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...
user logs merge...

In [13]:
members = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\data\members.csv")

In [14]:
train = pd.merge(train, members, how='left', on='msno')
test = pd.merge(test, members, how='left', on='msno')
members = []; print('members merge...')

members merge...

In [15]:
train.shape

(992931, 88)

In [16]:
gender = {'male':1, 'female':2}
train['gender'] = train['gender'].map(gender)
test['gender'] = test['gender'].map(gender)

train = train.fillna(0)
test = test.fillna(0)

In [18]:
# train.to_csv("train_aft_process.csv")
# test.to_csv("test_aft_process.csv")

In [19]:
# transactions = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\data/transactions.csv")

In [21]:
chunksize = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\data/transactions.csv", chunksize=1000000)
transactions = pd.DataFrame()
for chunk in chunksize:
    transactions = pd.concat([chunk, transactions], ignore_index=True)
#     pd.merge(members, transactions.drop_duplicates(), on='msno', how='left')

In [22]:
transactions = pd.DataFrame(transactions['msno'].value_counts().reset_index())

In [23]:
transactions.columns = ['msno','trans_count']

In [24]:
transactions.to_csv("transactions_aft_count.csv")

In [25]:
test = pd.merge(test, transactions, how='left', on='msno')

In [26]:
train = pd.merge(train, transactions, how='left', on='msno')

In [27]:
transactions = []; print('transaction merge...')

transaction merge...

In [ ]:
def transform_df(df):
    df = pd.DataFrame(df)
    df = df.sort_values(by=['date'], ascending=[False])
    df = df.reset_index(drop=True)
    df = df.drop_duplicates(subset=['msno'], keep='first')
    return df

def transform_df2(df):
    df = df.sort_values(by=['date'], ascending=[False])
    df = df.reset_index(drop=True)
    df = df.drop_duplicates(subset=['msno'], keep='first')
    return df

In [8]:
# train.to_csv("train_aft_process.csv")
# test.to_csv("test_aft_process.csv")
# train = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\middle_files/train_aft_process.csv")
# test = pd.read_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\middle_files/test_aft_process.csv")
# train.shape
# test.shape

Index(['Unnamed: 0', 'msno', 'is_churn', 'trans_count_x', 'logs_count_x',
       'logs_count_y', 'logs_count_x.1', 'logs_count_y.1', 'logs_count_x.2',
       'logs_count_y.2', 'logs_count_x.3', 'logs_count_y.3', 'logs_count_x.4',
       'logs_count_y.4', 'logs_count_x.5', 'logs_count_y.5', 'logs_count_x.6',
       'logs_count_y.6', 'logs_count_x.7', 'logs_count_y.7', 'logs_count_x.8',
       'logs_count_y.8', 'logs_count_x.9', 'logs_count_y.9', 'logs_count_x.10',
       'logs_count_y.10', 'logs_count_x.11', 'logs_count_y.11',
       'logs_count_x.12', 'logs_count_y.12', 'logs_count_x.13',
       'logs_count_y.13', 'logs_count_x.14', 'logs_count_y.14',
       'logs_count_x.15', 'logs_count_y.15', 'logs_count_x.16',
       'logs_count_y.16', 'logs_count_x.17', 'logs_count_y.17',
       'logs_count_x.18', 'logs_count_y.18', 'logs_count_x.19',
       'logs_count_y.19', 'logs_count_x.20', 'logs_count_y.20',
       'logs_count_x.21', 'logs_count_y.21', 'logs_count_x.22',
       'logs_count_y.22', 'logs_count_x.23', 'logs_count_y.23',
       'logs_count_x.24', 'logs_count_y.24', 'logs_count_x.25',
       'logs_count_y.25', 'logs_count_x.26', 'logs_count_y.26',
       'logs_count_x.27', 'logs_count_y.27', 'logs_count_x.28',
       'logs_count_y.28', 'logs_count_x.29', 'logs_count_y.29',
       'logs_count_x.30', 'logs_count_y.30', 'logs_count_x.31',
       'logs_count_y.31', 'logs_count_x.32', 'logs_count_y.32',
       'logs_count_x.33', 'logs_count_y.33', 'logs_count_x.34',
       'logs_count_y.34', 'logs_count_x.35', 'logs_count_y.35',
       'logs_count_x.36', 'logs_count_y.36', 'logs_count_x.37',
       'logs_count_y.37', 'logs_count_x.38', 'logs_count_y.38', 'logs_count',
       'city', 'bd', 'gender', 'registered_via', 'registration_init_time',
       'expiration_date', 'trans_count_y'],
      dtype='object')

In [10]:
train_new = train[['msno', 'is_churn', 'logs_count', 'trans_count_x', 'trans_count_y','city', 
               'bd', 'gender', 'registered_via', 'registration_init_time',
               'expiration_date']]

In [13]:
train_new['trains_count'] = train_new['trans_count_x']

E:\anacoda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
train_new = train_new.drop(['trans_count_x', 'trans_count_y'], axis=1)

In [17]:
train_new.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>msno</th>
      <th>is_churn</th>
      <th>logs_count</th>
      <th>city</th>
      <th>bd</th>
      <th>gender</th>
      <th>registered_via</th>
      <th>registration_init_time</th>
      <th>expiration_date</th>
      <th>trains_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=</td>
      <td>1</td>
      <td>0.0</td>
      <td>18.0</td>
      <td>36.0</td>
      <td>2.0</td>
      <td>9.0</td>
      <td>20050406.0</td>
      <td>20170907.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=</td>
      <td>1</td>
      <td>0.0</td>
      <td>10.0</td>
      <td>38.0</td>
      <td>1.0</td>
      <td>9.0</td>
      <td>20050407.0</td>
      <td>20170321.0</td>
      <td>23</td>
    </tr>
    <tr>
      <th>2</th>
      <td>fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=</td>
      <td>1</td>
      <td>0.0</td>
      <td>11.0</td>
      <td>27.0</td>
      <td>2.0</td>
      <td>9.0</td>
      <td>20051016.0</td>
      <td>20170203.0</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=</td>
      <td>1</td>
      <td>14.0</td>
      <td>13.0</td>
      <td>23.0</td>
      <td>2.0</td>
      <td>9.0</td>
      <td>20051102.0</td>
      <td>20170926.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=</td>
      <td>1</td>
      <td>0.0</td>
      <td>3.0</td>
      <td>27.0</td>
      <td>1.0</td>
      <td>9.0</td>
      <td>20051228.0</td>
      <td>20170927.0</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
train_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992931 entries, 0 to 992930
Data columns (total 10 columns):
msno                      992931 non-null object
is_churn                  992931 non-null int64
logs_count                992931 non-null float64
city                      992931 non-null float64
bd                        992931 non-null float64
gender                    992931 non-null float64
registered_via            992931 non-null float64
registration_init_time    992931 non-null float64
expiration_date           992931 non-null float64
trains_count              992931 non-null int64
dtypes: float64(7), int64(2), object(1)
memory usage: 75.8+ MB

In [19]:
train_new.to_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\middle_files/train_aft_process_2.csv")

In [20]:
test_new = test[['msno', 'is_churn', 'logs_count', 'trans_count_x', 'trans_count_y','city', 
               'bd', 'gender', 'registered_via', 'registration_init_time',
               'expiration_date']]

In [21]:
test_new = test_new.drop(['trans_count_x', 'trans_count_y'], axis=1)

In [23]:
test_new.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>msno</th>
      <th>is_churn</th>
      <th>logs_count</th>
      <th>city</th>
      <th>bd</th>
      <th>gender</th>
      <th>registered_via</th>
      <th>registration_init_time</th>
      <th>expiration_date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=</td>
      <td>0</td>
      <td>0.0</td>
      <td>5.0</td>
      <td>28.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>20131223.0</td>
      <td>20170822.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=</td>
      <td>0</td>
      <td>0.0</td>
      <td>13.0</td>
      <td>20.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>20131223.0</td>
      <td>20170519.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=</td>
      <td>0</td>
      <td>0.0</td>
      <td>13.0</td>
      <td>18.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>20131227.0</td>
      <td>20170919.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>7.0</td>
      <td>20140109.0</td>
      <td>20160325.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=</td>
      <td>0</td>
      <td>0.0</td>
      <td>13.0</td>
      <td>35.0</td>
      <td>2.0</td>
      <td>7.0</td>
      <td>20140125.0</td>
      <td>20180218.0</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
test_new.to_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\middle_files/test_aft_process_2.csv")

In [11]:
train = pd.read_csv("../middle_files/train_aft_process_2.csv")

In [12]:
train.head()

,Unnamed: 0,msno,is_churn,logs_count,city,bd,gender,registered_via,registration_init_time,expiration_date,trains_count
0,0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,0.0,18.0,36.0,2.0,9.0,20050406.0,20170907.0,2
1,1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,0.0,10.0,38.0,1.0,9.0,20050407.0,20170321.0,23
2,2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,0.0,11.0,27.0,2.0,9.0,20051016.0,20170203.0,10
3,3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,14.0,13.0,23.0,2.0,9.0,20051102.0,20170926.0,2
4,4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,0.0,3.0,27.0,1.0,9.0,20051228.0,20170927.0,8

In [13]:
test = pd.read_csv("../middle_files/test_aft_process_2.csv")

In [14]:
def transform_df(df):
    df = pd.DataFrame(df)
    df = df.sort_values(by=['date'], ascending=[False])
    df = df.reset_index(drop=True)
    df = df.drop_duplicates(subset=['msno'], keep='first')
    return df

def transform_df2(df):
    df = df.sort_values(by=['date'], ascending=[False])
    df = df.reset_index(drop=True)
    df = df.drop_duplicates(subset=['msno'], keep='first')
    return df

In [25]:
# user_logs = pd.read_csv("../data/user_log_split_1.csv")
# train = pd.merge(train, user_logs, how='left', on='msno')
# test = pd.merge(test, user_logs, how='left', on='msno')
# train = transform_df(train)
# test = transform_df(test)
# user_logs = []
for i in range(2,80):
    user_logs = pd.read_csv(
        "../data/user_log_split_" + str(i) + ".csv"
    )
    user_logs = transform_df2(user_logs)
    train = pd.merge(train, user_logs, how='left', on=['msno','date','num_25','num_50','num_75','num_985','num_100','num_unq','total_secs'])
    print('...'+str(i), user_logs.shape)
    test = pd.merge(test, user_logs, how='left', on=['msno','date','num_25','num_50','num_75','num_985','num_100','num_unq','total_secs'])
    train = transform_df(train)
    print('...'+str(i), train.shape)
    test = transform_df(test)
    user_logs = []

...2 (798884, 10)
...2 (992931, 21)
...3 (1015410, 10)
...3 (992931, 22)
...4 (885358, 10)
...4 (992931, 23)
...5 (901594, 10)
...5 (992931, 24)
...6 (1017987, 10)
...6 (992931, 25)
...7 (910762, 10)
...7 (992931, 26)
...8 (967441, 10)
...8 (992931, 27)
...9 (1016564, 10)
...9 (992931, 28)
...10 (764253, 10)
...10 (992931, 29)
...11 (996236, 10)
...11 (992931, 30)
...12 (1017684, 10)
...12 (992931, 31)
...13 (863645, 10)
...13 (992931, 32)
...14 (1017494, 10)
...14 (992931, 33)
...15 (1016011, 10)
...15 (992931, 34)
...16 (919173, 10)
...16 (992931, 35)
...17 (1015656, 10)
...17 (992931, 36)
...18 (916158, 10)
...18 (992931, 37)
...19 (955538, 10)
...19 (992931, 38)
...20 (1017272, 10)
...20 (992931, 39)
...21 (949386, 10)
...21 (992931, 40)
...22 (976474, 10)
...22 (992931, 41)
...23 (1015618, 10)
...23 (992931, 42)
...24 (992460, 10)
...24 (992931, 43)
...25 (1016839, 10)
...25 (992931, 44)
...26 (970821, 10)
...26 (992931, 45)
...27 (930274, 10)
...27 (992931, 46)
...28 (1015248, 10)
...28 (992931, 47)
...29 (904896, 10)
...29 (992931, 48)
...30 (878447, 10)
...30 (992931, 49)
...31 (1017383, 10)
...31 (992931, 50)
...32 (846814, 10)
...32 (992931, 51)
...33 (989459, 10)
...33 (992931, 52)
...34 (1015877, 10)
...34 (992931, 53)
...35 (839509, 10)
...35 (992931, 54)
...36 (1015762, 10)
...36 (992931, 55)
...37 (945568, 10)
...37 (992931, 56)
...38 (879294, 10)
...38 (992931, 57)
...39 (1018047, 10)
...39 (992931, 58)
...40 (888082, 10)
...40 (992931, 59)
...41 (917020, 10)
...41 (992931, 60)
...42 (1016616, 10)
...42 (992931, 61)
...43 (825784, 10)
...43 (992931, 62)
...44 (970268, 10)
...44 (992931, 63)
...45 (1017102, 10)
...45 (992931, 64)
...46 (835253, 10)
...46 (992931, 65)
...47 (1017778, 10)
...47 (992931, 66)
...48 (964483, 10)
...48 (992931, 67)
...49 (827858, 10)
...49 (992931, 68)
...50 (1015787, 10)
...50 (992931, 69)
...51 (916643, 10)
...51 (992931, 70)
...52 (861527, 10)
...52 (992931, 71)
...53 (1017123, 10)
...53 (992931, 72)
...54 (861950, 10)
...54 (992931, 73)
...55 (925486, 10)
...55 (992931, 74)
...56 (1016256, 10)
...56 (992931, 75)
...57 (820492, 10)
...57 (992931, 76)
...58 (1017718, 10)
...58 (992931, 77)
...59 (985589, 10)
...59 (992931, 78)
...60 (911392, 10)
...60 (992931, 79)
...61 (1016112, 10)
...61 (992931, 80)
...62 (922497, 10)
...62 (992931, 81)
...63 (903070, 10)
...63 (992931, 82)
...64 (1017492, 10)
...64 (992931, 83)
...65 (887216, 10)
...65 (992931, 84)
...66 (987988, 10)
...66 (992931, 85)
...67 (1015627, 10)
...67 (992931, 86)
...68 (884473, 10)
...68 (992931, 87)
...69 (1016232, 10)
...69 (992931, 88)
...70 (1006933, 10)
...70 (992931, 89)
...71 (934179, 10)
...71 (992931, 90)
...72 (1017615, 10)
...72 (992931, 91)
...73 (887145, 10)
...73 (992931, 92)
...74 (889083, 10)
...74 (992931, 93)
...75 (1015946, 10)
...75 (992931, 94)
...76 (842603, 10)
...76 (992931, 95)
...77 (898242, 10)
...77 (992931, 96)
...78 (1017716, 10)
...78 (992931, 97)
...79 (429234, 10)
...79 (992931, 98)

In [7]:
test['']

In [8]:
user_logs_temp.head()

,Unnamed: 0,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,0,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150513,0,0,0,0,1,1,280.335
1,1,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150709,9,1,0,0,7,11,1658.948
2,2,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150105,3,3,0,0,68,36,17364.956
3,3,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150306,1,0,1,1,97,27,24667.317
4,4,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150501,3,0,0,0,38,38,9649.029

In [9]:
train.head()

,Unnamed: 0_x,msno,is_churn,logs_count,city,bd,gender,registered_via,registration_init_time,expiration_date,...,total_secs_x,Unnamed: 0,date_y,num_25_y,num_50_y,num_75_y,num_985_y,num_100_y,num_unq_y,total_secs_y
0,992929,iNV99F1Rml7EMndOeLI0Y/iek6aCj/Qp1Z4dZvR+sak=,0,0.0,1.0,0.0,0.0,7.0,20170215.0,20170914.0,...,3599.979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90358,Wy0ye/yCKRrYrJMdIXr61qIUcmoLTLBO0EMKcEm++hs=,0,4.0,1.0,0.0,0.0,4.0,20160413.0,20170914.0,...,6896.102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,781168,o1eeo3ak/6hNgpg3KLjAtHKUvhPQ3anUv96HVR17/Fc=,0,0.0,1.0,0.0,0.0,7.0,20131214.0,20170916.0,...,7344.818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,942615,Ef06atu3tFeUuUXjeGdqbk8+9vtjwQtk3N78bojfkxU=,0,0.0,13.0,29.0,1.0,9.0,20110109.0,20170920.0,...,271.255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,781171,vBI64eAJHU85uPUzRZ0PzEqulAzRFBRiAuvFVwtHfj0=,0,5.0,1.0,0.0,1.0,3.0,20131215.0,20170707.0,...,9551.416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
train.shape

(992931, 98)

In [29]:
train.columns

Index(['msno', 'is_churn', 'logs_count', 'city', 'bd', 'gender',
       'registered_via', 'registration_init_time', 'expiration_date',
       'trains_count', 'Unnamed: 0_x', 'date', 'num_25', 'num_50', 'num_75',
       'num_985', 'num_100', 'num_unq', 'total_secs', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y',
       'Unnamed: 0_x', 'Unnamed: 0_y'],
      dtype='object')

In [30]:
train =  train[['msno', 'is_churn', 'logs_count', 'city', 'bd','gender','registered_via',
               'registration_init_time', 'expiration_date','trains_count','date','num_25',
                'num_50','num_75','num_985', 'num_100', 'num_unq', 'total_secs'
               ]]

In [32]:
# test.columns

Index(['msno', 'is_churn', 'logs_count', 'city', 'bd', 'gender',
       'registered_via', 'registration_init_time', 'expiration_date',
       'Unnamed: 0_x', 'date', 'num_25', 'num_50', 'num_75', 'num_985',
       'num_100', 'num_unq', 'total_secs', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0_x',
       'Unnamed: 0_y', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'],
      dtype='object')

In [34]:
test =  test[['msno', 'is_churn', 'logs_count', 'city', 'bd','gender','registered_via',
               'registration_init_time', 'expiration_date','date','num_25',
                'num_50','num_75','num_985', 'num_100', 'num_unq', 'total_secs'
               ]]

In [36]:
train.to_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\middle_files/train_aft_process_3.csv")

In [37]:
test.to_csv("G:\PythonProjects\KaggleOrOthersJourney\WSDM-KKBox'sChurnPredictionChallenge\middle_files/test_aft_process_3.csv")

In [40]:
# train = train.fillna(0)
# test = test.fillna(0)
# cols = [c for c in train.columns if c not in ['is_churn','msno']]
test['trains_count'] = train['trains_count']

In [ ]:
def xgb_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'log_loss', metrics.log_loss(labels, preds)

fold = 1
for i in range(fold):
    params = {
        'eta': 0.1, 
        'max_depth': 7,
        'objective': 'binary:logistic',
        'eval_metric': 'logloss',
        'seed': i,
        'silent': True
    }
    x1, x2, y1, y2 = model_selection.train_test_split(train[cols], train['is_churn'], test_size=0.3, random_state=i)
    watchlist = [(xgb.DMatrix(x1, y1), 'train'), (xgb.DMatrix(x2, y2), 'valid')]
    model = xgb.train(params, xgb.DMatrix(x1, y1), 150,  watchlist, feval=xgb_score, maximize=False, verbose_eval=50, early_stopping_rounds=50) #use 1500
    if i != 0:
        pred += model.predict(xgb.DMatrix(test[cols]), ntree_limit=model.best_ntree_limit)
    else:
        pred = model.predict(xgb.DMatrix(test[cols]), ntree_limit=model.best_ntree_limit)

[0]	train-log_loss:0.609978	valid-log_loss:0.609998
Multiple eval metrics have been passed: 'valid-log_loss' will be used for early stopping.

Will train until valid-log_loss hasn't improved in 50 rounds.
[50]	train-log_loss:0.110981	valid-log_loss:0.11221
[100]	train-log_loss:0.107532	valid-log_loss:0.11008

In [ ]:
pred /= fold
test['is_churn'] = pred.clip(0.0000001, 0.999999)
test[['msno','is_churn']].to_csv('submission4.csv.gz', index=False, compression='gzip')