In [1]:
import pandas as pd

In [2]:
wifi_info = pd.read_csv("../data/ccf_first_round_user_shop_behavior.csv")

In [3]:
wifi_info.head()

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...

In [4]:
wifi_info.shape

(1138015, 6)

In [5]:
wifi_infos = wifi_info["wifi_infos"]

In [6]:
wifi_infos[0]

'b_6396480|-67|false;b_41124514|-86|false;b_28723327|-90|false;b_6396479|-55|false;b_8764723|-90|false;b_32053319|-74|false;b_5857370|-68|false;b_56326644|-89|false;b_56328155|-77|false;b_5857369|-55|false'

In [7]:
wifi = wifi_infos[0]

In [8]:
wifi_list = wifi.split(";")

In [9]:
wifi_list

['b_6396480|-67|false',
 'b_41124514|-86|false',
 'b_28723327|-90|false',
 'b_6396479|-55|false',
 'b_8764723|-90|false',
 'b_32053319|-74|false',
 'b_5857370|-68|false',
 'b_56326644|-89|false',
 'b_56328155|-77|false',
 'b_5857369|-55|false']

In [10]:
# 把WiFi信息切分
def wifi_split(wifi_list):
    for wifi in wifi_list:
        wifi_dict = {}
        info = wifi.split("|")
        ssid = info[0]
        signal = info[1]
        is_connect = info[2]
        wifi_dict["ssid"] =  ssid
        wifi_dict["signal"] = signal
        wifi_dict["is_connect"] = is_connect
        print(wifi_dict)
        return wifi_dict

In [11]:
shaop_info = pd.read_csv("../data/ccf_first_round_shop_info.csv")

In [12]:
shop_info = shaop_info

In [13]:
shop_info.shape

(8477, 6)

In [14]:
shop_info.head(10)

  shop_id category_id   longitude   latitude  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587
2   s_251        c_38  121.000505  30.907667     34  m_5892
3   s_372        c_30  119.864982  26.659876     44   m_625
4   s_456        c_26  122.594243  31.581499     44  m_3839
5   s_462        c_47  115.088969  30.690787     58  m_3739
6   s_469        c_50  121.963123  31.652801     64  m_1293
7   s_496        c_47  120.746132  30.815237     62  m_1175
8   s_729         c_6  119.326859  32.644347     58  m_2182
9   s_775        c_26  121.000467  30.908378     44  m_5892

In [15]:
shop_info = shop_info.rename(columns={"latitude" : "latitude_shop", "longitude" : "longitude_shop"})

In [16]:
shop_info.head()

  shop_id category_id  longitude_shop  latitude_shop  price mall_id
0    s_26         c_4      122.346736      31.833507     57   m_690
1   s_133         c_6      121.134362      31.197511     58  m_6587
2   s_251        c_38      121.000505      30.907667     34  m_5892
3   s_372        c_30      119.864982      26.659876     44   m_625
4   s_456        c_26      122.594243      31.581499     44  m_3839

In [17]:
user_behavior = pd.read_csv("../data/ccf_first_round_user_shop_behavior.csv")

In [18]:
del user_behavior

In [19]:
user_behavior = wifi_info

In [20]:
user_behavior = pd.merge(user_behavior, shop_info, on=["shop_id"], how="left")

In [21]:
user_behavior.shape

(1138015, 11)

In [22]:
wifi_info.shape

(1138015, 6)

In [23]:
user_behavior.head()

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,category_id,longitude_shop,latitude_shop,price,mall_id
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...,c_38,122.308782,32.087894,42,m_1409
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...,c_38,122.308782,32.087894,42,m_1409
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...,c_30,117.365996,40.638634,40,m_4079
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...,c_27,121.134561,31.197322,49,m_6587
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...,c_6,122.255616,31.351461,62,m_3005

In [24]:
shop_and_wifi = user_behavior[["user_id", "shop_id", "wifi_infos", "mall_id"]]

In [25]:
shop_and_wifi.head()

,user_id,shop_id,wifi_infos,mall_id
0,u_376,s_2871718,b_6396480|-67|false;b_41124514|-86|false;b_287...,m_1409
1,u_376,s_2871718,b_6396480|-67|false;b_56328155|-73|false;b_411...,m_1409
2,u_1041,s_181637,b_8006367|-78|false;b_2485110|-52|false;b_3005...,m_4079
3,u_1158,s_609470,b_26250579|-73|false;b_26250580|-64|false;b_26...,m_6587
4,u_1654,s_3816766,b_39004150|-66|false;b_39004148|-58|false;b_21...,m_3005

In [26]:
test_file = pd.read_csv("../data/evaluation_public.csv")

In [27]:
test_file.shape

(483931, 7)

In [28]:
test_file.head()

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...
3,118745,u_30098996,m_4515,2017-09-03 12:10,120.612201,34.055249,b_33412374|-77|false;b_22084893|-86|false;b_52...
4,118746,u_30099170,m_7168,2017-09-02 20:40,116.861989,40.326858,b_19882704|-77|false;b_2241462|-49|false;b_585...

In [29]:
len(test_file["user_id"])
import numpy as np
from collections import defaultdict

In [30]:
# 思考的不对，因为使用user_id和mall_id不能唯一确定一条记录，用户可能在不同的时间粒度在同一家商场做出行为，所以user_id和mall_id会重复
# 但同时这个时间粒度无法用其他表里去对比，因为评测机数据是九月份的
def compute_sub(test_file, user_behavior):
    for _, row1 in test_file.iterrows():
        sub_dict = dict()
        # 遍历test_file，去user_behavior中找到和test_file这一行user_id和mall_id相同的数据，结果返回一个df
        tmp = user_behavior[(user_behavior["user_id"] == row1["user_id"])  & (user_behavior["mall_id"] == row1["mall_id"])]
        # 打印这个df
        # print("tmp is:", tmp)
        if not tmp.empty:
            for _, row2 in tmp.iterrows():
                # 求经纬度的欧氏距离
                sub = np.linalg.norm(
                    np.array(
                        [float(row1["longitude"]),float(row1["latitude"])]
                    ) - 
                    np.array(
                        [float(row2["longitude_shop"]), float(row2["latitude_shop"])]
                    )
                )
                print("sub is :" +str(sub))
                # print("row2[shop_id] is "+ str(row2["shop_id"]))
                ss = dict({row2["shop_id"]:sub})
                sub_dict.update(ss)
            print("sub dict is:" , sub_dict)
            if not sub_dict:
                # 找到距离最小的一个sub对应的shop_id
                sub_dict = find_min_sub(sub_dict)
                test_file.loc[(test_file["user_id"] == "u_30097142")  & (test_file["mall_id"] == "m_3916"), "qq"]=1
                tmp[sub_dict[0]] = sub_dict[1]
            else:
                continue
        else:
            print("结果不存在")
# 找到sub最小值对应的shop_id和sub
def find_min_sub(d):         
    return sorted(d.items(), key=lambda item:item[1])[0]

In [42]:
# test_pd["qq"] = 0
# test_pd.loc[(test_pd["user_id"] == "u_30097142")  & (test_pd["mall_id"] == "m_3916"), "qq"]=1
# compute_sub(test_file, user_behavior)

In [34]:
test_file.shape

(483931, 7)

In [41]:
test_file[["user_id", "mall_id"]].drop_duplicates(["user_id", "mall_id"]).shape

(342203, 2)