In [3]:
import pandas as pd

In [4]:
wifi_info = pd.read_csv("../data/ccf_first_round_user_shop_behavior.csv")

In [5]:
wifi_info.head()

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...

In [6]:
wifi_info.shape

(1138015, 6)

In [7]:
wifi_infos = wifi_info["wifi_infos"]

In [8]:
wifi_infos[0]

'b_6396480|-67|false;b_41124514|-86|false;b_28723327|-90|false;b_6396479|-55|false;b_8764723|-90|false;b_32053319|-74|false;b_5857370|-68|false;b_56326644|-89|false;b_56328155|-77|false;b_5857369|-55|false'

In [9]:
wifi = wifi_infos[0]

In [10]:
wifi_list = wifi.split(";")

In [11]:
wifi_list

['b_6396480|-67|false',
 'b_41124514|-86|false',
 'b_28723327|-90|false',
 'b_6396479|-55|false',
 'b_8764723|-90|false',
 'b_32053319|-74|false',
 'b_5857370|-68|false',
 'b_56326644|-89|false',
 'b_56328155|-77|false',
 'b_5857369|-55|false']

In [12]:
# 把WiFi信息切分
def wifi_split(wifi_list):
    for wifi in wifi_list:
        wifi_dict = {}
        info = wifi.split("|")
        ssid = info[0]
        signal = info[1]
        is_connect = info[2]
        wifi_dict["ssid"] =  ssid
        wifi_dict["signal"] = signal
        wifi_dict["is_connect"] = is_connect
        print(wifi_dict)
        return wifi_dict

In [13]:
shaop_info = pd.read_csv("../data/ccf_first_round_shop_info.csv")

In [14]:
shop_info = shaop_info

In [15]:
shop_info.shape

(8477, 6)

In [16]:
shop_info.head(10)

  shop_id category_id   longitude   latitude  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587
2   s_251        c_38  121.000505  30.907667     34  m_5892
3   s_372        c_30  119.864982  26.659876     44   m_625
4   s_456        c_26  122.594243  31.581499     44  m_3839
5   s_462        c_47  115.088969  30.690787     58  m_3739
6   s_469        c_50  121.963123  31.652801     64  m_1293
7   s_496        c_47  120.746132  30.815237     62  m_1175
8   s_729         c_6  119.326859  32.644347     58  m_2182
9   s_775        c_26  121.000467  30.908378     44  m_5892

In [17]:
shop_info = shop_info.rename(columns={"latitude" : "latitude_shop", "longitude" : "longitude_shop"})

In [18]:
shop_info.head()

  shop_id category_id  longitude_shop  latitude_shop  price mall_id
0    s_26         c_4      122.346736      31.833507     57   m_690
1   s_133         c_6      121.134362      31.197511     58  m_6587
2   s_251        c_38      121.000505      30.907667     34  m_5892
3   s_372        c_30      119.864982      26.659876     44   m_625
4   s_456        c_26      122.594243      31.581499     44  m_3839

In [19]:
user_behavior = pd.read_csv("../data/ccf_first_round_user_shop_behavior.csv")

In [20]:
del user_behavior

In [21]:
user_behavior = wifi_info

In [22]:
user_behavior = pd.merge(user_behavior, shop_info, on=["shop_id"], how="left")

In [23]:
user_behavior.shape

(1138015, 11)

In [24]:
wifi_info.shape

(1138015, 6)

In [25]:
user_behavior.head()

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,category_id,longitude_shop,latitude_shop,price,mall_id
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...,c_38,122.308782,32.087894,42,m_1409
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...,c_38,122.308782,32.087894,42,m_1409
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...,c_30,117.365996,40.638634,40,m_4079
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...,c_27,121.134561,31.197322,49,m_6587
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...,c_6,122.255616,31.351461,62,m_3005

In [26]:
shop_and_wifi = user_behavior[["user_id", "shop_id", "wifi_infos", "mall_id"]]

In [27]:
shop_and_wifi.head()

,user_id,shop_id,wifi_infos,mall_id
0,u_376,s_2871718,b_6396480|-67|false;b_41124514|-86|false;b_287...,m_1409
1,u_376,s_2871718,b_6396480|-67|false;b_56328155|-73|false;b_411...,m_1409
2,u_1041,s_181637,b_8006367|-78|false;b_2485110|-52|false;b_3005...,m_4079
3,u_1158,s_609470,b_26250579|-73|false;b_26250580|-64|false;b_26...,m_6587
4,u_1654,s_3816766,b_39004150|-66|false;b_39004148|-58|false;b_21...,m_3005

In [28]:
test_file = pd.read_csv("../data/evaluation_public.csv")

In [29]:
test_file.shape

(483931, 7)

In [30]:
test_file.head()

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...
3,118745,u_30098996,m_4515,2017-09-03 12:10,120.612201,34.055249,b_33412374|-77|false;b_22084893|-86|false;b_52...
4,118746,u_30099170,m_7168,2017-09-02 20:40,116.861989,40.326858,b_19882704|-77|false;b_2241462|-49|false;b_585...

In [136]:
len(test_file["user_id"])
import numpy as np
from collections import defaultdict

In [151]:
def compute_sub(test_file, user_behavior):
    for _, row1 in test_file.iterrows():
        sub_dict = dict()
        tmp = user_behavior[(user_behavior["user_id"] == row1["user_id"])  & (user_behavior["mall_id"] == row1["mall_id"])]
        print("tmp is:", tmp)
        if pd.notnull(tmp):
            for _, row2 in tmp.iterrows():
                sub = np.linalg.norm(
                    np.array(
                        [float(row1["longitude"]),float(row1["latitude"])]
                    ) - 
                    np.array(
                        [float(row2["longitude_shop"]), float(row2["latitude_shop"])]
                    )
                )
                print("sub is :" +str(sub))
                print("row2[shop_id] is "+ str(row2["shop_id"]))
                ss = dict({row2["shop_id"]:sub})
                sub_dict.update(ss)
            print("sub dict is:" , sub_dict)
            if sub_dict != None:
                sub_dict = find_min_sub(sub_dict)
                tmp[sub_dict[0]] = sub_dict[1]

# 找到sub最小值对应的shop_id和sub
def find_min_sub(d):         
    return sorted(d.items(), key=lambda item:item[1])[0]

In [152]:
# test_pd["qq"] = 0
# test_pd.loc[(test_pd["user_id"] == "u_30097142")  & (test_pd["mall_id"] == "m_3916"), "qq"]=1
compute_sub(test_file, user_behavior)

tmp is:            user_id    shop_id        time_stamp   longitude   latitude  \
797443  u_30097142  s_2152672  2017-08-16 18:10  122.141046  39.819104
797444  u_30097142   s_382066  2017-08-12 16:10  122.141539  39.819333

                                               wifi_infos category_id  \
797443  b_50778217|-58|false;b_47098017|-82|false;b_37...        c_34
797444  b_37756118|-63|false;b_29943359|-56|false;b_29...        c_38

        longitude_shop  latitude_shop  price mall_id
797443      122.141023      39.819093     44  m_3916
797444      122.141468      39.819443     50  m_3916

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [101]:
test_pd

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos,qq
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...,1
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...,0
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...,0
3,118745,u_30098996,m_4515,2017-09-03 12:10,120.612201,34.055249,b_33412374|-77|false;b_22084893|-86|false;b_52...,0
4,118746,u_30099170,m_7168,2017-09-02 20:40,116.861989,40.326858,b_19882704|-77|false;b_2241462|-49|false;b_585...,0
5,118747,u_30099328,m_4079,2017-09-01 13:20,117.365336,40.638300,b_33503892|-50|false;b_30058118|-66|false;b_75...,0
6,118748,u_30099795,m_2333,2017-09-06 12:20,120.494443,36.455076,b_44437637|-70|false;b_56327744|-67|false;b_45...,0
7,118749,u_30099923,m_1175,2017-09-07 21:10,120.744362,30.814718,b_8763036|-91|false;b_8324226|-48|false;b_3340...,0
8,118750,u_30100284,m_1409,2017-09-03 10:30,122.309345,32.086750,b_2159244|-82|false;b_23387932|-93|false;b_169...,0
9,118751,u_30100446,m_3517,2017-09-02 19:00,104.417599,31.286157,b_34749981|-68|false;b_45712058|-86|false;b_55...,0

In [115]:
test_behavior

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,category_id,longitude_shop,latitude_shop,price,mall_id
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...,c_38,122.308782,32.087894,42,m_1409
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...,c_38,122.308782,32.087894,42,m_1409
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...,c_30,117.365996,40.638634,40,m_4079
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...,c_27,121.134561,31.197322,49,m_6587
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...,c_6,122.255616,31.351461,62,m_3005
5,u_2733,s_3686420,2017-08-28 13:10,122.595277,31.581963,b_13784698|-75|false;b_7390858|-86|false;b_358...,c_34,122.596141,31.581731,40,m_3839
6,u_2848,s_89874,2017-08-11 14:20,104.815313,30.962847,b_975810|-33|true;b_975807|-41|false;b_3506304...,c_49,104.815435,30.963022,62,m_1920
7,u_3063,s_939447,2017-08-06 14:50,117.913713,39.589681,b_15263246|-67|false;b_10120963|-76|false;b_41...,c_28,117.914173,39.589755,40,m_2878
8,u_3063,s_939447,2017-08-02 17:30,117.913765,39.589699,b_37749132|-77|false;b_25781349|-63|false;b_25...,c_28,117.914173,39.589755,40,m_2878
9,u_3063,s_3698335,2017-08-02 18:30,117.914182,39.589539,b_39846139|-73|false;b_25673942|-61|false;b_25...,c_25,117.914142,39.589296,54,m_2878